/* CSS TABLE OF CONTENTS 

# GLOBAL
    # GLOBAL VARIABLES (CUSTOM PROPERTIES)
    # GLOBAL RESETS
    # GLOBAL COLORS
    # GLOBAL TYPOGRAPHY
    # GLOBAL MEDIA (eg Images)
    # GLOBAL HELPERS

# LAYOUT
    # MEDIA QUERIES (w/ RESPONSIVE TYPOGRAPHY)
    # CONTAINER
    # GRID (ROWS & COLUMNS)

# PAGE STRUCTURE (BASE TEMPLATE)
    # HEADER
        # SITE LOGO
        # SITE NAV
            # TOGGLE-NAV
    # MAIN
        # SECTIONS
    # FOOTER

# UI COMPONENTS
    # BUTTONS
    # HR
    # CODE BLOCKS

# ANIMATION
    # SMOOTH SCROLLING

# CUSTOM STYLING
    # CUSTOM TYPE BLOCK/SPECIMEN

*/

/* ----------------------------- */
/* ----- GLOBAL STYLING -------- */
/* ----------------------------- */

/* SET GLOBAL VARIABLES */
:root {

    /* PRIMITIVE COLORS */
    --color-white: #fff;
    --color-grey-200: rgb(0 0 0 / .2);
    --color-black-800: rgb(0 0 0 / .8);
    --color-black: #000;

    /* BASE COLORS */
    --color-body-background: rgb(255, 255, 255);
    --color-text-body: rgba(0, 0, 0, 0.8);
    --color-text-headings: rgb(0, 0, 0);

    --color-links-dark: rgb(102 102 102);
    --color-links-darker: rgb(0 0 0);
    --color-links-light: rgb(204 204 204);
    --color-links-lighter: rgb(255 255 255);

    --color-siteheader-background: transparent;
    --color-siteheader-links: var(--color-text-headings);

    --color-hero-background: rgb(100 100 100);
    --color-hero-text: rgb(255 255 255 / .8);
    --color-hero-headings: rgb(255 255 255 / 1);

    --color-sitefooter-background: rgb(100 100 100);
    --color-sitefooter-text: rgb(255 255 255 / .8);
    --color-sitefooter-headings: rgb(255 255 255 / 1);
    --color-sitefooter-links: rgb(255 255 255);

    /* BASE TYPOGRAPHY */
    --font-body: system-ui, Helvetica, Arial, sans-serif;
    --font-headings: system-ui, Helvetica, Arial, sans-serif;

    /* SIZING UNITS */
    --container-width: 1100px;
    --unit-small: 1em;
    --unit-medium: 2em;
    --unit-large: 4em;
    --unit-extralarge: 6em;

    /* BORDERS */
    --color-border: var(--color-grey-200);
    --border-radius: 5px;
    --border-thickness: .5px;


}

/* GLOBAL RESETS */

/* CHANGE BOX-SIZING FOR ALL TO BORDER-BOX */
* { box-sizing: border-box; }

/* REMOVE THE DEFAULT 8px MARGIN ON THE BODY */
body { margin: 0; }

/* ADD SUPPORT FOR NATIVE SMOOTH SCROLLING */
html { scroll-behavior: smooth; }


/* GLOBAL COLORS */
body {

    /* SET THE COLOR OF THE MAIN BODY BACKGROUND */
    background-color: var(--color-body-background);

    /* SET THE COLOR OF THE MAIN BODY TEXT */
    color: var(--color-text-body);

}

/* SET THE COLOR OF ALL HEADINGS H1-etc */
h1, h2, h3 {
    color: var(--color-text-headings);
}

a {
    /* SET THE COLOR OF ALL TEXT LINKS */
    color: var(--color-links);

    /* SET THE COLOR OF ALL HOVER STATES ON TEXT LINKS */
    &:hover {
        color: var(--color-links-hover);
    }

    /* CUSTOMIZE THE UNDERLINE */
    text-decoration-color: var(--color-links-hover);
    text-decoration-thickness: .125em;
    text-underline-offset: .1em;

}


/* SET GLOBAL TYPOGRAPHY */
body {

    /* SET THE FONT FOR ALL MAIN BODY TEXT */
    font-family: var(--font-body);

    /* SET THE LEADING (LINE-HEIGHT) FOR ALL BODY TEXT */
    line-height: 1.4;

}

/* SET THE FONT FAMILY AND MARGINS FOR ALL HEADINGS */
h1, h2, h3 {
    font-family: var(--font-headings);
    margin: .4em 0;
}

/* SET H1 FONT SIZE AND LEADING */
h1 {
    font-size: 3em;
    line-height: 1.1;
}

/* SET H2 FONT SIZE AND LEADING */
h2 {
    font-size: 2em;
    line-height: 1.2;
}

/* SET H3 FONT SIZE AND LEADING */
h3 {
    font-size: 1.5em;
    line-height: 1.3;
}


p {
    /* LIMIT THE WIDTH OF ALL PARAGRAPHS */
    max-width: 65ch;

    /* NEW SCHOOL WIDOW SLAYER */
    text-wrap: pretty;

}

/* GLOBAL MEDIA */

img {

    /* MAKE ALL IMAGES SHRINK ON SMALL SCREENS */
    max-width: 100%;
    height: auto; 
}

/* GLOBAL HELPERS */

/* HIDE ELEMENTS VISUALLY BUT NOT FROM SCREEN READERS AND SEACH ENGINES */
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

@media (max-width: 767px) {
    .hide-visually-smallonly {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}

/* OFFSET THE ANCHOR TARGET FOR INLINE ANCHOR LINKS */
:target {
    scroll-margin-top: var(--unit-medium);
}

/* ----------------------------- */
/* --------- LAYOUT ------------ */
/* ----------------------------- */

/* SMALL SCREENS (Mobile < 768px) */
body {
    /* SET THE DEFAULT FONT SIZE TO 14px */
    font-size: 87.5%; 
}

/* MEDIUM SCREENS (Tablets < 1200px) */
@media (min-width: 768px) {
    body {
        /* SET THE MEDIUM SCREENS AND HIGHER FONT SIZE TO 16px */
        font-size: 100%; 
    }
}

/* LARGE SCREENS (Laptops & Desktops > 1200px) */
@media (min-width: 1200px) {
    body {
        /* SET THE LARGE SCREENS AND HIGHER FONT SIZE TO 18px */
        font-size: 112.5%; 
    }
}



/* CONTAINER */
.container {
    /* SET THE MAX WIDTH OF YOUR SITE (eg 1200px) */
    max-width: var(--container-width);

    /* CENTER THE CONTAINER HORIZONTALLY*/
    margin-left: auto;
    margin-right: auto;
}

/* GRID */
.row {
    /* SET THE GAP BETWEEN COLUMNS */
    --gridgap: 2em;
}

.row > * {
    /* ADD TOP & BOTTOM MARGIN TO ALL COLUMNS */
    margin-top: var(--gridgap);
    margin-bottom: var(--gridgap);
}

@media (min-width: 768px) {

    /* 12-COLUMN GRID SYSTEM */
    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gridgap);
    }

    /* COMMONLY USED SEMANTIC COLUMN WIDTH CLASSES */
    .one-whole { grid-column: auto / span 12; }
    .one-half { grid-column: auto / span 6; }
    .one-third { grid-column: auto / span 4; }
    .two-thirds { grid-column: auto / span 8; }
    .one-fourth { grid-column: auto / span 3; }
    .three-fourths { grid-column: auto / span 9; }

    /* COMMONLY USED 12 COLUMN SPAN CLASSES */
    .col-1 { grid-column: auto / span 1; }
    .col-2 { grid-column: auto / span 2; }
    .col-3 { grid-column: auto / span 3; }
    .col-4 { grid-column: auto / span 4; }
    .col-5 { grid-column: auto / span 5; }
    .col-6 { grid-column: auto / span 6; }
    .col-7 { grid-column: auto / span 7; }
    .col-8 { grid-column: auto / span 8; }
    .col-9 { grid-column: auto / span 9; }
    .col-10 { grid-column: auto / span 10; }
    .col-11 { grid-column: auto / span 11; }
    .col-12 { grid-column: auto / span 12; }

    /* CENTERED COLUMNS FOR SOME */
    .one-half.centered { grid-column: 4 / span 6; }
    .one-third.centered { grid-column: 5 / span 4; }
    .two-thirds.centered { grid-column: 3 / span 8; }

    /* PUSHES */
    .push-1 { grid-column-start: 2; }
    .push-2 { grid-column-start: 3; }
    .push-3 { grid-column-start: 4; }
    .push-4 { grid-column-start: 5; }
    .push-5 { grid-column-start: 6; }
    .push-6 { grid-column-start: 7; }
    .push-7 { grid-column-start: 8; }
    .push-8 { grid-column-start: 9; }
    .push-9 { grid-column-start: 10; }
    .push-10 { grid-column-start: 11; }
    .push-11 { grid-column-start: 12; }

    /* SWAP (REVERSE) COLUMNS - WORKS ONLY w/ 2 CHILDREN  */
    .row.swapped > *:first-child { order: 2; }
    .row.swapped > *:last-child { order: 1; }

}

/* FOR DEMO PURPOSES ONLY */
.demo .row > *,
.row.demo > * {
    background-color: #ddd;
    padding: .5em;
    text-align: center;
    margin-top: 0;
}


/* ----------------------------- */
/* ----- PAGE STRUCTURE -------- */
/* ----------------------------- */

/* SITE HEADER */
.site-header {
    background-color: var(--color-siteheader-background);
    
    /* PUT ALL HEADER CHILDREN SIDE-BY-SIDE AND VERT CENTERED ON LARGE SCREENS */
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* ADD SOME GENERAL SPACING AROUND THE HEADER */
    padding: var(--unit-small);

    /* REMOVE LINK UNDERLINES IN HEADER */
    a {
        text-decoration: none;
    }

    /* SITE LOGO */
    .site-logo {

        /* PUT SITE LOGO CHILDREN SIDE-BY-SIDE AND CENTER */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;

        /* REMOVE MARGINS AND RESIZE H1 INSIDE HEADER */
        h1 {
            font-size: 2em;
            margin: 0;
            text-wrap: nowrap;
        }

        /* REMOVE THE SPACE UNDER THE LOGO MARK */
        img, svg {
            display: block;
        }

    }

    /* SITE HEADER NAV */
    .site-header-nav {

        ul {
            /* REMOVE MARGINS & BULLETS FROM LIST */
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        /* MAKE SITE NAV LINKS BIG LIKE BUTTONS */
        a {
            display: block;
            padding: 1em;
            color: var(--color-siteheader-links);
        }

    }

}

 /* TOGGLE MENU */

/* HIDE MENU BUTTON IF NOT INSIDE OF A TOGGLE MENU PARENT */
.site-menu-button {
    display: none;
}

.toggle-menu {

    /* SET TOGGLE MENU COLORS */
    --color-togglemenu-text: white;
    --color-togglemenu-background: black;

    /* FIX THE POSITION OF THE MENU BUTTON TO BE THE SAME WHEN OPEN AND CLOSED */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    /* MOVE AWAY FROM EDGE A SMALL AMOUNT */
    /* padding-right: calc(var(--unit-small) / 2); */

    /* SHOW MENU BUTTON IF INSIDE OF A TOGGLE MENU PARENT AND SET INITITAL STYLES */
    .site-menu-button {
        display: block;
        background-color: transparent;
        color: var(--color-siteheader-links);
        border: 1px solid var(--color-siteheader-links);
        padding: calc(var(--unit-small) / 2);
        position: relative;
        z-index: 100;
        transition: .4s all ease-out;

        /* RESET BUTTON FONT SIZE TO SAME AS SITE HEADER NAV */
        font-size: inherit;
        
        /* ADD HAND CURSOR ON HOVER */
        &:hover {
            cursor: pointer;
        }

        /* ADD SUPPORT FOR NAVICON/HAMBURGER ICON */
        &:has(svg) {
            
            /* VERTICALLY ALIGN AND ADD GAP */
            display: flex;
            align-items: center;
            gap: calc(var(--unit-small) / 2);

            /* REMOVE BORDER */
            border: none;

            /* SET SVG COLOR */
            svg {
                fill: var(--color-siteheader-links);
            }

            /* ADD SUPPORT FOR SVG ANIMATION */
            svg > * {
                /* width: 100%; */
                transition: .2s all ease-out;
                transform-origin: center;
            }

        }
    }

    .site-menu {

        /* APPLY TOGGLE MENU COLORS */
        color: var(--color-togglemenu-text);
        background-color: var(--color-togglemenu-background);

        /* SET FULL SCREEN AND POSITION FIXED SO THE MENU DOES NOT SCROLL AWAY */
        position: fixed;
        top: 0;
        right: 0;
        z-index: 50;
        width: 100%;
        min-height: 100svh;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* ADD ANIMATION SUPPORT */
        transition: .4s all ease-out;

        /* ADJUST SIZE OF SITE MENU LIST ITEMS */
        a {
            display: block;
            color: var(--color-togglemenu-text);
            padding: 2vh 2vw;
            font-size: clamp(2em, 4vw, 3em);
        }
    }

    &[data-menustate="open"] {

        /* CHANGE COLORS TO TOGGLE MENU COLORS WHEN OPEN */
        --color-siteheader-links: var(--color-togglemenu-text);

        /* SHOW THE SITE MENU WHEN OPEN */
        .site-menu {
            transform: translateX(0);
        }

        /* SET MENU BUTTON TO FIXED WHEN MENU IS OPEN */
        .site-menu-button {
            position: fixed;
            z-index: 100;
        }

        /* ANIMATE THE NAVICON / HAMBURGER WHEN OPEN */
        /* ADD SUPPORT FOR NAVICON/HAMBURGER ICON */
        .site-menu-button svg {
            .simple-navicon-top {
                width: 100%;
                transform: translate(-21%, 24%) rotate(45deg);
            }
            .simple-navicon-middle {
                opacity: 0;
            }
            .simple-navicon-bottom {
                width: 100%;
                transform: translate(-21%, -25%) rotate(-45deg);
            }
        }

    }

    &[data-menustate="closed"] {

        /* MOVE THE SIDE MENU TO THE RIGHT WHEN CLOSED */
        .site-menu {
            transform: translateX(100%);
        }
    }
}

/* TOGGLE MENU SITE HEADER LAYOUT FIX: 
WHEN USING TOGGLE MENU, ENSURE THAT THE LOGO IS ON THE LEFT 
AND THE HEADER SITE NAV TOGGLE MENU IS ON THE RIGHT 
ON ALL SCREENS */
.site-header:has(.toggle-menu) {
    display: flex;
    justify-content: space-between;

    /* SHOW THE SITE LOGO WHEN TOGGLE MENU IS OPEN */
    .site-logo {
        position: relative;
        z-index: 100;
    }
}


/* PLACE SITE HEADER ON TOP OF HERO ON LARGE SCREENS */
.site-header.on-top-of-hero {

    /* RENDER HEADER ON TOP OF HERO */
    position: absolute;
    width: 100%;

    /* SET SITE HEADER LINK COLOR ON LARGE SCREENS */
    --color-siteheader-links: rgb(255 255 255);
    a {
        color: var(--color-siteheader-links);
    }

    /* ADD MORE SPACE ON TOP FOR THE ABSOLUTE HEADER */
    & + .site-main > .hero {
        padding-top: calc(4em + var(--unit-large));
    }

}


/* SITE MAIN */
.site-main {
    /* background-color: red; */
}

/* ALL SECTIONS */
section {
    padding: var(--unit-large) var(--unit-small);
}

/* HERO SECTION */
.hero {

    /* APPLY HERO COLORS */
    background-color: var(--color-hero-background);
    color: var(--color-hero-text);

    h1 {
        font-size: 4em;
        line-height: 1;
        text-wrap: balance;
    }

    h1, h2, h3 {
        color: var(--color-hero-headings);
        margin: .25em 0;
    }

}


/* SITE FOOTER */
.site-footer {

    /* ADD SOME GENERAL PADDING AROUND THE FOOTER */
    padding: var(--unit-small);

    /* APPLY FOOTER COLORS */
    background-color: var(--color-sitefooter-background);
    color: var(--color-sitefooter-text);

    h1, h2, h3 {
        color: var(--color-sitefooter-headings);
    }

    a {
        color: var(--color-links-light);

        &:hover {
            color: var(--color-links-lighter);
        }
    }

    /* REMOVE BULLETS FROM FOOTER NAV LIST */
    .site-footer-nav {
        ul {
            list-style: none;
            padding-left: 0;
        }
    }

    /* ALIGN FOOTER CONTENT TO THE BOTTOM */
    .row {
        align-items: end;
    }

}


/* ------------------- */
/* -- UI COMPONENTS -- */
/* ------------------- */

/* BUTTONS */

.button {
    /* SET THE BUTTON COLORS */
    border: 1px solid var(--color-links-dark);
    background-color: var(--color-links-dark);
    color: white;

    /* ENABLE BOX MODEL STYLING */
    display: inline-block;
    padding: var(--unit-small);
    margin: var(--unit-small) 0;

    /* GET RID OF THE UNDERLINE */
    text-decoration: none;

    /* ADD SPACE BETWEEN BUTTONS WHEN MULTIPLE */
    + .button {
        margin-left: var(--unit-small);
    }

    /* SET HOVER STATE OF BUTTONS */
    &:hover {
        color: var(--color-links-lighter);
        background-color: var(--color-links-darker);
        border-color: var(--color-links-darker);
    }

    /* LIGHT BUTTON VARIANT */
    &.light {
        border-color: var(--color-links-light);
        background-color: var(--color-links-light);
        color: var(--color-links-darker);

        &:hover {
            border-color: var(--color-links-lighter);
            background-color: var(--color-links-lighter);
        }

    }

}

/* HR */
hr {
    border: none;
    border-bottom: var(--border-thickness) solid var(--color-border);
    margin: var(--unit-large) 0;
}

/* Code Blocks */
pre:has(code) {
    background-color: var(--color-black);
    color: var(--color-white);
    padding-inline: var(--unit-medium);
    border-radius: var(--border-radius);
    white-space: pre-wrap;
}


/* ----------------------------- */
/* ----- ANIMATION -------- */
/* ----------------------------- */

/* ENABLE NATIVE SMOOTH SCROLLING */
html {
    scroll-behavior: smooth;
}



/* ----------------------------- */
/* ----- CUSTOM STYLING -------- */
/* ----------------------------- */

/* CUSTOM COLORS */
:root {
    --color-accent: #5ac2ff;
}

/* CUSTOM HELPERS */
.add-space-on-top-medium::before {
    content: "";
    display: block;
    margin-top: var(--unit-medium);
}

/* COLOR CHANGE SPANS */
.accent {
    color: var(--color-accent);
}

/* CUSTOM STRIKE EFFECT */
strike {
    text-decoration-color: var(--color-accent);
}

/* EYEBROWS/LEAD-INS/RUNNING-HEADS */
.eyebrow {
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .05em;
    font-weight: 700;
    color: #aaa;
    margin: 0;
}

/* SECTION HEADS */

.section-head {
    padding-bottom: calc(var(--unit-small) / 2);
    border-bottom: 3px solid var(--color-text-body);
    margin-bottom: var(--unit-medium);
}

/* CUSTOM TYPE BLOCK: HEADLINE AND SUB HEADLINE */
.headline {
    font-size: 4em;
    font-weight: 700;
    /* color: var(--color-accent-color); */
    margin: 1rem 0;
    line-height: 1;
    text-wrap: balance;
}
.subheadline {
    font-size: 2em;
    font-weight: 300;
    margin: 1rem 0;
    text-wrap: balance;
}


/* CUSTOM PAGE LAYOUTS */

.page-layout-twocolumns {
    max-width: 1200px;
    margin-inline: auto;
    padding: 0 var(--unit-small);
}
@media (min-width: 768px) {
    .page-layout-twocolumns {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: var(--unit-medium);
    }
}

/* DOCS PAGE STYLING */

.page-docs {

    .hero {
        text-align: center;
        padding-bottom: var(--unit-large);

        h1 {
            font-size: 3em;
        }
        p {
            margin-inline: auto;
        }
    }
    
    aside {
        background-color: #eee;
        padding: var(--unit-large) var(--unit-small);

        /* EXTEND THE BG OF THE ASIDE TO THE LEFT */
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            transform: translateX(-100%);
            background-color: #eee;
        }
    }

    aside nav {
        position: sticky;
        top: calc(var(--unit-medium) + var(--unit-small));
    }

    aside li {
        list-style: none;
        margin-bottom: var(--unit-medium);
        font-weight: 700;
    }

    aside ul ul li {
        list-style: disc;
        margin-bottom: 0;
        font-weight: 400;
    }

    .maincontent {
        padding: var(--unit-medium) 0;
    }

    section {
        padding-top: var(--unit-medium);
        padding-bottom: var(--unit-medium);
    }

}